/* css reset  */

div, p, a, body, li, ul, link {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* ---------------------------- */

/* main structural setup  */
.body {
    /* --big-margin: 50px; */
    --big-margin: 10vw;
    /* --small-margin: 25px; */
    --small-margin: 5vw;
    --small-height: 100px;
}


.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 var(--big-margin) 0 var(--big-margin);
    background-color: antiquewhite;
    overflow: hidden;
}

.main-panel:first-child {
    margin-top: 50px;
}

.main-panel:last-child {
    margin-bottom: 50px;
}

.main-top-panel {
    display: flex;
    background-color: rgb(116, 85, 29);
    position: sticky;
    height: 100px;
    width: 100%;
    margin: inherit;
    padding:inherit;
    z-index: 101;
    justify-content: center;
    align-items: center;
}

.main-center-panel {
    background-color: rgb(39, 66, 155);
    width: 100%;
    height: calc(80vh - 100px);
    position: static;
    margin: inherit;
    padding: inherit;
    z-index: 100;
}

.main-bottom-panel {
    background-color: rgb(24, 94, 45);
    width: 100%;
    height: calc(20vh - 100px);
    margin: inherit;
    padding: inherit;
}

.main-panel:first-child {
    margin-top: 50px;
}

.main-panel:last-of-type {
    margin-bottom: 50px;
    /* border: 5px solid green */
}


/* ------------------------------------*/

/* main-top-panel fine layout, title, sidebar buttons */

.title {
    border: 1px solid blue;
    font-size: 50px;
    color: rgb(228, 240, 250)
}

/* ------------------------------------------- */


.menu {
    border: 1px solid green;
    position: absolute;
    border: 1px solid green;
    right: calc(var(--big-margin) + 10px);
    top: calc(var(--big-margin) + 10px);
}


.right-menu {
    border: 1px solid black;
    display: none;
}


/* ----------------------------------------------------- */

/* bottom panel, housekeeping buttons */

.main-bottom-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-top-panel-button {
    border: 1px solid lightblue;
}